@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,300;1,300&display=swap');
@import "tailwindcss";

.result::-webkit-scrollbar {
    display: none;
}


/* Apply to custom container */
.scrollbar-custom::-webkit-scrollbar {
  width: 3px;
}
.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent;
}
.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}
.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}



.loader hr {
    animation: loader 3s infinite linear
}
@keyframes loader {
    0% {
        background-position: -800px 0px;
    }

    100%{
        background-position: 800px 0px;
    }
}

.root {
    animation: fadeIn 1.5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}